.search-books-bar {
    display: flex;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}

.search-books-input-wrapper {
    flex: 1;
}

.search-books-bar input {
    width: 100%;
    padding: 15px 10px;
    font-size: 1.25em;
    border: none;
    outline: none;
}
.search-books-results {
    padding: 80px 10px 20px;
}
.close-search{
    padding-top: 10px;
    padding-right: 5px;
}
.noResult{
    text-align: center;
    font-size: 20px;
    margin: 20px;
    padding:10px;
}
