.book{
   width: 140px;
   padding: 10px;
}

.bookImg{
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   max-height: 180px;
   min-height: 180px;
   min-width: 130px;
   max-width: 130px;
}
.contentDiv{
   margin-top:2px;
}
.bookTitle {
  margin-top: 10px;
}
.bookAuthors {
  color: #999;
}
select{
   display: block;
   font-size: 11px;
   font-weight: 700;
   padding: 3px;
   width: 93%;
   max-width: 93%;
   box-sizing: border-box;
   border: 1px solid #aaa;
   box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
   border-radius: .5em;
}
select:focus {
   border:1px solid black;
}
select:active{
   border:1px solid black;
}
select option{
   border:1px solid black;
   font-weight: bold;
}
select::after{
   border:1px solid black;
}
.select:hover::after { 
   border:1px solid black;
} 